[submodule "Cinder"]
	path = Cinder
	url = https://github.com/cinder/Cinder.git
[submodule "openFrameworks"]
	path = openFrameworks
	url = https://github.com/openframeworks/openFrameworks.git
[submodule "arduino"]
	path = arduino
	url = https://github.com/jgwill/arduino.hu.git
